body {display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
grid-template-areas:
  "nav nav nav nav"
  "article article article side"
  "about about about side"
  "footer footer footer footer";
}